<h1>注文履歴詳細</h1>
<p>注文情報</p>
  <table>
    <tr>
      <th>
        注文日
      </th>
      <th>
        
      </th>
    </tr>
    <tr>
      <td>
        配送先
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        支払方法
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        ステータス
      </td>
      <td>
        
      </td>
    </tr>
  </table>
<p>請求情報</p>
<table>
    <tr>
      <th>
        商品合計
      </th>
      <th>
        
      </th>
    </tr>
    <tr>
      <td>
        配送料
      </td>
      <td>
        800
      </td>
    </tr>
    <tr>
      <td>
        ご請求額
      </td>
      <td>
        
      </td>
    </tr>
  </table>
<p>注文内容</p>
<table>
    <tr>
      <th>
        商品
      </th>
      <th>
        
      </th>
    </tr>
    <tr>
      <td>
        
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        
      </td>
      <td>
        
      </td>
    </tr>
</table>